@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="card col-sm-6 col-md-4 d-flex align-items-stretch book-section">
        <img class="card-img-top book-picture" src="~/Images/Book01.jpg" alt="Card
image">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <div class="card col-sm-6 col-md-4 d-flex align-items-stretch book-section">
        <img class="card-img-top book-picture" src="~/Images/Book02.jpg" alt="Card
image">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <div class="card col-sm-6 col-md-4 d-flex align-items-stretch book-section">
        <img class="card-img-top book-picture" src="~/Images/Book03.jpg" alt="Card
image">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <div class="card col-sm-6 col-md-4 d-flex align-items-stretch book-section">
        <img class="card-img-top book-picture" src="~/Images/Book01.jpg" alt="Card
image">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <div class="card col-sm-6 col-md-4 d-flex align-items-stretch book-section">
        <img class="card-img-top book-picture" src="~/Images/Book02.jpg" alt="Card
image">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
</div>
